@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0;
}
body {
  background-color: #1f1f1f;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
section.to-do-sec {
  padding: 100px 0px;
}
.to-do-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.to-do-row {
  padding: 40px 20px;
  background-color: #323232;
}
.to-do-input {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.main-heading {
  font-size: 32px;
  font-weight: 600;
  color: #f1f1f1;
  text-align: center;
  margin-bottom: 20px;
}
input#taskInput {
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  background-color: #616161;
  color: #f1f1f1;
  font-weight: 500;
  font-size: 18px;
}
input#taskInput:focus {
  outline: none;
}
button#addTask {
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  background-color: #24ec7e;
  color: #1f1f1f;
  font-weight: 500;
}
.to-do-list {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
#addTaskList {
  list-style: none;
  width: 50%;
}
#addTaskList li {
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: #7a7a7a;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#addTaskList li span {
  font-size: 18px;
  font-weight: 600;
  padding-right: 20px;
  color: #f1f1f1;
  text-transform: capitalize;
}
#addTaskList li button {
  font-size: 16px;
  padding: 8px 15px;
  color: #f1f1f1;
  background-color: #ec2445;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}
